@media (max-width: 990px) {}

@media (min-width: 991px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}

.body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;



}

.inbody {

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    height: 530%;
}

.entete {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #78C5E5;

}

.center {
    font-size: xx-large;
    display: flex;
    justify-content: center;

}

.img {
    width: 50%;
    height: auto;
    display: inline-block;
}

.bord {
    border: 1px solid #78C5E5;
    background-color: #78C5E5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px 40px;
}