* {
    margin-left: 0px;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

}

.inbody {

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    height: auto;
}

.exbody {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: auto;
    width: 50%;
}

.entete {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #78C5E5;

}

.center {
    font-size: xx-large;
    display: flex;
    justify-content: center;

}



.bord {
    border: 1px solid #78C5E5;
    background-color: #78C5E5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px 40px;
    margin-bottom: 70px;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;

}

.titre {

    border-bottom: 1px dotted black;
    font-weight: bold;
    margin: 35px;
}

.ingredient {

    font-style: italic;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 100;
}


/*Mobile*/
@media (max-width: 480px) {}



/*tablet*/
@media (min-width: 481px) and (max-width: 768px) {}